@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Bangers');
/*body { padding-top: 10px; }*/
nav.navbar.navbar-light.bg-faded {
    background: #e81212;
    padding: 0 10px 0 10px;
}

.sign-in-up {
    padding-bottom: 20px;
    padding-top: 25px;
}
.sign-in-up button{
    margin-right:10px;
}

a.navbar-brand {
    color: blue;
    font-size: 3.2em;
    font-family: 'Bangers', cursive;
    text-shadow: -1px -1px yellow, 1px 1px;

}

.home-header{
    background: url('../assets/images/comicBackground.jpg') center center;
    background-size: 90%;

}

.header-text-container{
    color: #ebebeb;
    background: rgba(0, 0, 0, 0.7);
}

img {
    min-width: 100%;
    max-width: 100%;
}